* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 15px;
    background-color: white;
}

.menu-principal {
    display: flex;
    flex-direction: column; 
    width: 100%;           
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.menu-principal li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #38bdf8;
    border-bottom: 1px solid #eee; 
}

.submenu {
    display: none; 
    background-color: #f9f9f9;
    list-style: none;
    padding: 0;
}

.tiene-submenu:hover .submenu {
    display: block; 
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #38bdf8;;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

section {
  margin-bottom: 50px;
}

.hero-content h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  color: #38bdf8; 
}

.hero-content p {
  font-size: 1.1rem;
  opacity: 0.9;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-image img {
  border: 4px solid rgba(56, 189, 248, 0.2); 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card, .post {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  a {
    text-decoration: none;
    color: #007bff;
  }
}

.btn-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .hero {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 80px 40px;
    gap: 50px;
  }

  .hero-content {
    flex: 1;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-image {
    flex: 1;
  }

  .hero-image img {
    transform: rotate(-2deg) scale(1.1);
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    padding: 40px;
  }

  .card {
    padding: 40px; 
  }

  .card h3 {
    font-size: 1.8rem;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
  }
}