* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

.nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.main {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  p {
    text-align: center;
    margin-bottom: 1rem;
  }
}